
*.pyc
config/botConfig.ini
config/botConfig.ini
config/botConfig2.ini
nuggetemoji/plugins/images/storageservericons/src/
*.db
data/reboot.txt
data/Do Not Delete
logs/*
discord emojis.txt
getstockemojis.py
96/namefirst.txt
96/namelast.txt
96/namefirst.py
128/namelast.txt
128/namefirst.txt
.vscode/settings.json
